.pio
.clang_complete
.gcc-flags.json
.ccls
main.c
stm32f4xx_hal_msp.c
stm32f4xx_it.c
syscalls.c
sysmem.c
system_stm32f4xx.c
main.h
stm32f4xx_hal_conf.h
stm32f4xx_it.h
lib/
*.ioc
platformio.ini
usart.h
usart.c
gpio.h
gpio.c
